<!doctype html>
<html lang="ru">
<head>
    <%- include('ejs/include/head.ejs') -%>
    <%- include('ejs/include/common-styles.ejs') -%>
</head>
<body>
<%- include('blocks/header/header.ejs') -%>
<%- include('blocks/road-map/road-map.ejs') -%>
<%- include('blocks/book-tickets/book-tickets.ejs') -%>
<%- include('blocks/footer/footer.ejs') -%>
<%- include('blocks/hand/hand.ejs') -%>
<%- include('ejs/include/scripts.ejs') -%>
</body>
</html>